.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeHeader {
  background-color: turquoise;
  margin-left: 50px;
  margin-right: 50px;
}

.lightMode {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkMode {
  background-color: black;
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieCardlight {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 2vh;
  justify-content: space-between;
  padding: 2vh 1vw 2vh 1vw;
  box-shadow: 4px 4px lightblue;
  align-self: center;
  background-color: black;
}

.movieCarddark {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 2vh;
  justify-content: space-between;
  padding: 2vh 1vw 2vh 1vw;
  box-shadow: 4px 4px lightblue;
  border: 1px white;
  align-self: center;
  background-color: white;
  color: white;
}

.movieCardPoster {
  border: 4px solid lightblue;
}